/**
* Cover
*/
.cover { max-width: 100%; height: 520px; z-index: initial; margin-right: auto; margin-left: auto; padding-right: 0px; padding-left: 0px; }
@media screen and (max-width: 800px) { .cover { max-width: -webkit-calc(1024px - (30px)); max-width: calc(1024px - (30px)); padding-right: 15px; padding-left: 15px; } }

.shallow-bg { background-image: url("background-cube.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }


/**
* Profile Namecard Related
*/
.profile-wrapper { border-radius: 25px; position: relative; top: 40%; width: 600px; margin-left: auto; margin-right: auto; }
@media screen and (max-width: 600px) { .profile-wrapper { top: 15%; border-radius: 25px; position: relative; width: -webkit-calc(90% - (30px / 2)); width: calc(90% - (30px / 2)); margin-left: auto; margin-right: auto; } }

.wrapper-light { background-color: rgba(255, 255, 255, 0.8); }

.wrapper-dark { background-color: rgba(150, 150, 150, 0.8); }

.profile-col { float: left !important; margin-top: 30px; margin-bottom: 30px; margin-left: auto; margin-right: auto; text-align: center; }

.profile-col-1 { width: -webkit-calc(40% - (30px / 2)); width: calc(40% - (30px / 2)); }

.profile-col-2 { width: -webkit-calc(60% - (30px / 2)); width: calc(60% - (30px / 2)); }

@media screen and (max-width: 800px) { .profile-col-1, .profile-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } }
@media screen and (max-width: 600px) { .profile-col { position: relative; margin: 10px auto; float: none; width: -webkit-calc( 100% ); width: calc( 100% ); } }
.circle-img { margin: 0px auto; width: 168px; border-width: 0px; border-style: solid; border-radius: 50%; }

.border-dark { border-color: #292929; }

.border-bright { border-color: white; }

.border-light { border-color: #e8e8e8; }

.circle-img-light { margin: 0px auto; width: 168px; border-width: 3px; border-style: solid; border-radius: 50%; }


@media screen and (max-width: 600px) { #my-title { display: none; } }
.preview { text-overflow: ellipsis; overflow: hidden; }

.hide { display: none; }


/*
* Timeline items
*/
.timeline-brief, .timeline { font-family: 'Roboto',sans-serif, Helvetica; margin-top: 30px; font-size: 20px; font-weight: 300; }

.timeline-body { padding: 0; }

.timeline-start { width: -webkit-calc(100% - 2 * (20px) ); width: calc(100% - 2 * (20px) ); text-align: center; padding: 20px; }

.timeline-item:before { width: 11px; height: 11px; background: #333; content: ""; display: block; position: absolute; border-radius: 5px; }

.timeline-item { width: -webkit-calc(50% + (5px) ); width: calc(50% +  (5px) ); position: relative; }

.timeline-item:nth-child(odd):before { left: -8px; }

.timeline-item:nth-child(odd):after { left: -8px; bottom: 0; }

.timeline-item:nth-child(odd) { margin-left: 50%; padding-left: 20px; border-left: 5px solid #333; text-align: left; }

.timeline-item:nth-child(even) { margin-right: -webkit-calc(50% + (20px) ); margin-right: calc(50% + (20px) ); padding-right: 20px; border-right: 5px solid #333; text-align: right; }

.timeline-item:nth-child(even):before { right: -8px; }

.timeline-item:nth-child(even):after { right: -8px; }

.timeline-date { font-size: 14px; font-weight: 400; color: #9b3022; }

.timeline-title { font-size: 16px; font-weight: 600; font-family: 'Roboto', sans-serif; color: #002336; }

.timeline-desc { font-size: 14px; font-weight: 200; }

.timeline-host { font-size: 14px; font-weight: 400; }

.timeline > .timeline-body > .timeline-item:last-child:after { bottom: 0; width: 11px; height: 11px; background: #333; content: ""; display: block; position: absolute; border-radius: 5px; }

.timeline > .timeline-body > .timeline-item:last-child:nth-child(even) { vertical-align: middle; min-height: 200px; border-right: 5px dashed #333; }

.timeline > .timeline-body > .timeline-item:last-child:nth-child(odd) { vertical-align: middle; min-height: 200px; border-left: 5px dashed #333; }

@media screen and (max-width: 600px) { .timeline-start { min-height: 50px; padding: 0 0 0 5px; text-align: left; border-left: 5px dashed #333; width: 100%; padding-left: 5px; margin-left: 5px; }
  .timeline-start:after { left: 17px; width: 11px; height: 5px; background: #333; content: ""; display: block; position: absolute; border-radius: 5px; }
  .timeline-item, .timeline-item:nth-child(odd), .timeline-item:nth-child(even) { min-height: 0; text-align: left; border-left: 5px solid #333; border-right: 0px; width: 100%; padding-left: 5px; margin-left: 5px; margin-right: 0px; padding-right: 0px; }
  .timeline > .timeline-body > .timeline-item:last-child:nth-child(odd), .timeline > .timeline-body > .timeline-item:last-child:nth-child(even) { min-height: 0; text-align: left; border-left: 5px solid #333; border-right: 0px; width: 100%; padding-left: 5px; margin-left: 5px; margin-right: 0px; padding-right: 0px; }
  .timeline-item:before { left: -8px; }
  .timeline-item:after { left: -8px; }
  .timeline-date { font-size: 14px; }
  .timeline-title { font-size: 16px; }
  .timeline-desc { font-size: 12px; }
  .timeline-host { font-size: 10px; } }
.toy-list { margin-left: 0; list-style: none; }
.toy-list > li { margin-bottom: 30px; }

.toy-heading { font-size: 42px; font-weight: 300; letter-spacing: -1px; line-height: 1.5; border-bottom: 2px solid #424242; }

.toy-item { border: thin solid #c0c0c0; text-align: center; }

.toy-meta { font-size: 14px; color: #828282; }

.toy-link { display: block; font-size: 24px; }
