<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8"/>
<title>Test ILP Solver</title>
<script src="IlpSolver.js"></script>
<script src="angular.min.js"></script>
</head>

<h1>ILP Solver</h1>
<hr/>
<b><a href="testcase.html">Click here to see some ILP examples provided by us</a></b>
<p>You may click the SOLVE button twice if nothing returned.</p>
<p>If errors still exist, please contact Bohan.</p>
<hr/>
<div ng-app="ilpInit" ng-controller="formCtrl">
  <form novalidate>
    Number of variables (n):<br>
    <input type="number" ng-model="n" id="n"><br>
    Number of equations (m):<br>
    <input type="number" ng-model="m" id="m">
    <br><br>
    <button ng-click="set()">Set</button>

    <br/>
  </form>
</div>
<hr/>
<div id="ilp"></div>

<div id="rst"></div>

<script>
var M, N;

var solve2 = function() {
    solve();
    solve();
}

var solve = function() {
	var content = "";

    var model = {};

    // model.A = [[ 9, 7, 1, 0],
    //           [ 7, 20, 0, 1]];
    // model.b =  [ 56, 70];
    // model.c =  [-4,-9, 0, 0];
    model.m = parseFloat(document.getElementById('m').value);
    model.n = parseFloat(document.getElementById('n').value);

    model.c = new Array(n);
    for( i = 0; i < n; i++ ) {
    	console.log( parseFloat(document.getElementById('c'+i).value))
    	model.c[i] = parseFloat(document.getElementById('c'+i).value);
    }
    console.log(model.c);

    model.A = new Array(m);
    for( i = 0; i < m; i++ ) {
    	model.A[i] = new Array(n);
    	for( j = 0; j < n; j++ ) {
    		model.A[i][j] = parseFloat(document.getElementById('a'+i+","+j).value);
    	}
    }
    console.log(model.A);
    
    model.b = new Array(m);
    for( i = 0; i < m; i++ ) {
    	model.b[i] = parseFloat(document.getElementById('b'+i).value);
    }
    console.log(model.b);

    IlpSolver.solveILP(model);

    document.getElementById('rst').innerHTML = "OPT: x=["+model.x+"] z="+model.z;

    console.log(model.x, model.z);
}

var genMatForm = function(n, m){
	//N = n, M = m;
	console.log("fuck");
	console.log(n);
	var content = "<b>min</b> &nbsp";
	for( i = 0; i < n; i++ ) {
		content += "<input type=\"number\" style=\"width:40px\" id=\"c"+i+"\">";
		content += "*x"+i;
		if( i < n-1 )
			content += "+";
	}
	content += "<br/><b>s.t.</b><br/>"

	console.log(m,n)
	for( i = 0; i < m; i++ ) {
		for( j = 0; j < n; j++ ) {
			content += "<input type=\"number\" style=\"width:40px\" id=\"a"+i+","+j+"\">";
			content += "*x"+j;
			if( j < n-1 )
				content += "+";
		}
		content += "=<input type=\"number\" style=\"width:40px\" id=\"b"+i+"\">";
		content += "<br/>"
	}

	content += "xi are non-negative integers<br><br>"
	content += "<button onclick=\"solve()\">Solve</button><br><hr/>";

	document.getElementById('ilp').innerHTML = content;
}

var n, m;
var app = angular.module('ilpInit', []);
app.controller('formCtrl', function($scope) {
    $scope.set = function() {
        //$scope.user = angular.copy($scope.master);
        console.log($scope.n);
        genMatForm(parseInt($scope.n), parseInt($scope.m));
    };
    //genMatForm(4, 2);
});
</script>
</html>